html{
    background-color: rgb(186, 180, 180);
}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

#clear{
    background-color: #0bdff3f1;
    margin: 0px;

}

.number{
    background-color: black;
    width: 400px;
    height: 400px;
    color: white;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    
    gap: 2px;
}   
.nm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.algo{
    display: grid;
    height: 400px;
    color: white;
    font-size: 30px;
    background-color: rgb(108, 103, 103);;
}

.container{
    display: grid;
    grid-template-columns: 400px 100px;
    grid-template-rows: 80px auto;

}

